.homepage-background-gradient{
    background: rgb(22,230,126);
    background: -moz-linear-gradient(270deg, rgba(22,230,126,1) 0%, rgba(46,153,250,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(22,230,126,1) 0%, rgba(46,153,250,1) 100%);
    background: linear-gradient(270deg, rgba(22,230,126,1) 0%, rgba(46,153,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16e67e",endColorstr="#2e99fa",GradientType=1);
    border-radius: 0;
}
mdb-card{
    align-items: center;
}
.card{
    box-shadow: none;
}

.full-height{
    height: calc(88vh);
}
.main-content{
    max-width: 50rem;
}