<mdb-card class="background-color-transparent homepage-background-gradient">
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Bienvenido a Economy Dashboard</strong></h2>
      <p class="mx-5 mb-5">En esta página encontrarás información sobre los distintos valores del dólar,
        gráficos de información que provee el Banco Central de la República Argentina,
        como inflación, base monetaria, circulación monetaria, etc.
      </p>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect routerLink="dashboard">
        <mdb-icon far icon="chart-bar" class="left"></mdb-icon>Ir al dashboard
      </a>
    </div>
  </div>
</mdb-card>
<router-outlet></router-outlet>