<app-loader *ngIf="fetchingData"></app-loader>
<div class="dashboard" *ngIf="!fetchingData">
  <div class="row wow fadeIn">
    <div class="col-md-3" *ngFor="let usd of usds">
      <app-card
        [title]="usd.name"
        [buyValue]="usd.buyValue"
        [sellValue]="usd.sellValue"
        [imagePath]="usd.imagePath"
        [updatedOn]="usdLastUpdate"
      ></app-card>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart *ngIf="!fetchingData"
        [chartType]="lineChart"
        chartName="Inflación anual esperada vs interanual (en %)"
        [chartDataset]="expectedVsInterannualInflationDataset"
        [chartLabels]="expectedVsInterannualInflationLabels"
        [chartColors]="expectedVsInterannualChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart *ngIf="!fetchingData"
        [chartType]="barChart"
        chartName="Diferencia entre inflación interanual y anual esperada (en %)"
        [chartDataset]="inflationDifferenceDataset"
        [chartLabels]="inflationDifferenceLabels"
        [chartColors]="inflationDifferenceChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart *ngIf="!fetchingData"
        [chartType]="lineChart"
        chartName="Base monetaria (en millones de $)"
        [chartDataset]="monetaryBaseDataset"
        [chartLabels]="monetaryBaseLabels"
        [chartColors]="monetaryBaseChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        [chartType]="barChart"
        chartName="Circulación monetaria (en millones de $)"
        [chartDataset]="currencyCirculationDataset"
        [chartLabels]="currencyCirculationLabels"
        [chartColors]="currencyCirculationChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
  </div>
</div>
