
    <!--Footer-->
    <footer class="page-footer text-center font-small wow fadeIn homepage-background-gradient">

        <!--Copyright-->
        <div class="footer-copyright py-3 footer">
            2020 - Economy Dashboard -
            <a href="https://www.tomasrs.dev" rel="noopener" target="_blank"> Tomas Rodriguez Saavedra </a>
            - Información consumida de las
            <a href="https://estadisticasbcra.com/api/documentacion" rel="noopener" target="_blank"> APIs del BCRA</a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->