<!--Main Navigation-->
<header>

  <!--Navbar-->
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

      <!-- Navbar brand -->
      <logo class="ml-3">
          <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
              <strong class="blue-text">Economy Dashboard</strong>
          </a>
      </logo>

      <!-- Collapsible content -->
      <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" mdbWavesEffect>Home
                      <span class="sr-only">(current)</span>
                  </a>
              </li>
          </ul>
          <!-- Links -->

      </links>
      <!-- Collapsible content -->

  </mdb-navbar>
  <!--/.Navbar-->

</header>
<!--Main Navigation-->