<div class="padding-body">
  <div class="row wow fadeIn">
    <div class="col-md-3">
      <app-card
        [title]="usds[0].name"
        [buyValue]="'$'+usds[0].buyValue"
        [sellValue]="'$'+usds[0].sellValue"
        [imagePath]="'../../assets/100_dolar_bill_compressed.jpg'"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        [title]="usds[1].name"
        [buyValue]="'$'+usds[1].buyValue"
        [sellValue]="'$'+usds[1].sellValue"
        [imagePath]="'../../assets/100_dolar_blue_bill_compressed.jpg'"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        [title]="usds[2].name"
        [buyValue]="'$'+usds[2].buyValue"
        [sellValue]="'$'+usds[2].sellValue"
        [imagePath]="'../../assets/100_dolar_ccl_bill_compressed.jpg'"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        [title]="usds[3].name"
        [buyValue]="'$'+usds[3].buyValue"
        [sellValue]="'$'+usds[3].sellValue"
        [imagePath]="'../../assets/100_dolar_ccl_bill_compressed.jpg'"
      ></app-card>
    </div>
  </div>

  <div class="row wow fadeIn">
    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        chartType="line"
        chartName="Inflacion anual esperada vs interanual (en %)"
        [chartDataset]="lineChartDataset"
        [chartLabels]="lineChartLabels"
        [chartColors]="lineChartColors"
        [chartOptions]="lineChartOptions"
      ></app-chart>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        chartType="bar"
        chartName="Diferencia entre inflacion interanual y anual esperada (en %)"
        [chartDataset]="lineChartDataset"
        [chartLabels]="lineChartLabels"
        [chartColors]="lineChartColors"
        [chartOptions]="lineChartOptions"
      ></app-chart>
    </div>
    <!--Grid column-->
  </div>

  <div class="row wow fadeIn">
    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        chartType="line"
        chartName="Efectivo en entidades financieras (en millones de $)"
        [chartDataset]="lineChartDataset"
        [chartLabels]="lineChartLabels"
        [chartColors]="lineChartColors"
        [chartOptions]="lineChartOptions"
      ></app-chart>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        chartType="bar"
        chartName="Circulacion monetaria (en millones de $)"
        [chartDataset]="lineChartDataset"
        [chartLabels]="lineChartLabels"
        [chartColors]="lineChartColors"
        [chartOptions]="lineChartOptions"
      ></app-chart>
    </div>
    <!--Grid column-->
  </div>
