<div class="padding-body">
  <div class="row wow fadeIn">
    <div class="col-md-3" *ngFor="let usd of usds">
      <app-card
        [title]="usd.name"
        [buyValue]="usd.buyValue"
        [sellValue]="usd.sellValue"
        [imagePath]="usd.imagePath"
        [updatedOn]="lastUpdate"
      ></app-card>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        [chartType]="lineChart"
        chartName="Inflacion anual esperada vs interanual (en %)"
        [chartDataset]="expectedVsInterannualInflationDataset"
        [chartLabels]="expectedVsInterannualInflationLabels"
        [chartColors]="expectedVsInterannualChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        [chartType]="barChart"
        chartName="Diferencia entre inflacion interanual y anual esperada (en %)"
        [chartDataset]="inflationDifferenceDataset"
        [chartLabels]="inflationDifferenceLabels"
        [chartColors]="inflationDifferenceChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
  </div>

  <div class="row wow fadeIn">
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        [chartType]="lineChart"
        chartName="Efectivo en entidades financieras (en millones de $)"
        [chartDataset]="cashInFinancialEntitiesDataset"
        [chartLabels]="cashInFinancialEntitiesLabels"
        [chartColors]="cashInFinancialEntitiesChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
    <div class="col-lg-6 col-md-6 mb-6">
      <app-chart
        [chartType]="barChart"
        chartName="Circulacion monetaria (en millones de $)"
        [chartDataset]="currencyCirculationValuesDataset"
        [chartLabels]="currencyCirculationValuesLabels"
        [chartColors]="currencyCirculationValuesChartColors"
        [chartOptions]="chartOptions"
      ></app-chart>
    </div>
  </div>
