<div class="padding-body">
    <div class="row">
        <div class="col-md-3">
          <app-card
            [title]="'Dolar oficial'"
            [buyValue]="'$68'"
            [sellValue]="'$72'"
            [imagePath]="'../../assets/100_dolar_bill_compressed.jpg'"
          ></app-card>
        </div>
        <div class="col-md-3">
          <app-card
            [title]="'Dolar blue'"
            [buyValue]="'$102'"
            [sellValue]="'$120'"
            [imagePath]="'../../assets/100_dolar_blue_bill_compressed.jpg'"
          ></app-card>
        </div>
        <div class="col-md-3">
            <app-card
            [title]="'Dolar CCL'"
            [buyValue]="'$105'"
            [sellValue]="'$117'"
            [imagePath]="'../../assets/100_dolar_ccl_bill_compressed.jpg'"
          ></app-card>
        </div>
        <div class="col-md-3">
            <app-card
            [title]="'Dolar bolsa'"
            [buyValue]="'$103'"
            [sellValue]="'$105'"
            [imagePath]="'../../assets/100_dolar_ccl_bill_compressed.jpg'"
          ></app-card>
        </div>
    </div>
</div>

